
_software/gnome-latex/gnome-latex/gnome-latex-3.44.0.tar.xz
_software/gnome-latex/tepl/tepl-6.4.0.tar.xz
_software/pika-backup/python-google-api-core/google-api-core-2.11.0.tar.gz
_software/pika-backup/python-google-auth/google-auth-2.15.0.tar.gz
