
_software/gnome-latex/gnome-latex/gnome-latex-3.44.0.tar.xz
_software/gnome-latex/tepl/tepl-6.4.0.tar.xz
_software/pika-backup/python-google-api-core/google-api-core-2.11.0.tar.gz
_software/pika-backup/python-google-auth/google-auth-2.15.0.tar.gz
_software/pika-backup/python-google-cloud-storage/google-cloud-storage-2.7.0.tar.gz
_software/pika-backup/python-google-cloud-core/google-cloud-core-2.3.2.tar.gz
_software/pika-backup/python-googleapis-common-protos/googleapis-common-protos-1.57.0.tar.gz
_software/pika-backup/python-httplib2/httplib2-0.21.0.tar.gz
_software/pika-backup/python-protobuf/protobuf-4.21.12.tar.gz
_software/pika-backup/python-rsa/rsa-4.9.tar.gz
_software/pika-backup/python-pyasn1/pyasn1-0.4.8.tar.gz
_software/pika-backup/python-pyasn1-modules/pyasn1-modules-0.2.8.tar.gz
_software/pika-backup/python-cachetools/cachetools-5.2.0.tar.gz
_software/pika-backup/python-uritemplate/uritemplate-4.1.1.tar.gz
_software/pika-backup/python-google-auth-httplib2/google-auth-httplib2-0.1.0.tar.gz
_software/pika-backup/python-google-resumable-media/google-resumable-media-2.4.0.tar.gz
